.head{
    display: flex;
    flex-direction: column;
    height: 160px;
    margin-top:20px;
    margin-left:30px;
    background-color: transparent;
    border-bottom: 1px solid rgba(54, 54, 54, 0.19);
}

.pedidos{

margin-top: 20px;
margin-left: 30px;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
letter-spacing: 0.02em;
width: 50%;
color: #303030;    
}

.actions{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: auto;
}

.btnAction{
    width: 180px;
    height: 30px;
    justify-content: center;
    border-radius: 90px;
    border-color: rgb(206, 201, 201);
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}

.inputSearch{
    display: flex;
    width: 180px;
    text-align: center;;
    height: 30px;
    justify-content: center;
    border-radius: 90px;
    border-color: rgb(206, 201, 201);
    background-color: transparent;
    border-style: solid;
    border-width: 1px; 
    margin-left: 20px;
}

.rightElements{
    display: flex;
    flex-direction: column;
    float: right;
    background-color: yellowgreen;
}
.btnServices{
    
    width: 156px;
    height: 44px;
    /* margin-top: -100px;
    margin-right: 60px; */
   
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.07em;
    color: #C51F29;
    border-radius: 90px;
    
    border-color: rgb(245, 28, 28);
    background-color: transparent;
    border-style: solid;
    border-width: 1px; 
}

